
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="col-md-12 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-body">

              <h1>Importer</h1>

              <%= form_tag({action: :upload}, multipart: true) do %>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                        Browse… <%= file_field_tag 'file' %>
                      </span>
                    </span>
                    <input type="text" class="form-control" readonly="">
                  </div>
                </div>
                <div class="form-group">                  
                  <%= button_tag "Send", :type => "submit", :class => "btn btn-default" %>                  
                </div>
              <% end %>

              <% unless @response.nil? %>
                <div class="alert alert-success" role="alert">
                  <%="The gross revenue of this file is #{number_to_currency(@response, locale: :br)}" %>
                </div>
                
              <% end %>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
