<!DOCTYPE html>
<html>
<head>
  <title>Importer</title>
</head>
<body>
<h1>Importer</h1>

  <%= form_tag({action: :upload}, multipart: true) do %>
    <%= file_field_tag 'file' %>
    <%= button_tag %>
  <% end %>

  <% unless @revenue.nil? %>
    <%=@revenue %>
  <% end %>
</body>
</html>